#runner-button {
  background: rgb(52, 56, 152) !important;
  color: white !important;
  font-weight: 700 !important;
  font-size: larger !important;
  text-align: center !important;
  display: flex;
  flex-direction: row-reverse;
  row-gap: 10px;
}
